---
import ExperinceItem from "./ExperinceItem.astro";
const EXPERIENCIE = [
  {
    title: "Framework",
    company: "React",
    description:
      "He acumulado experiencia significativa en React a través de proyectos tanto personales como colaborativos. Durante estos proyectos, he desarrollado una sólida comprensión de cómo estructurar aplicaciones web utilizando esta potente biblioteca JavaScript. He trabajado en la creación de componentes modulares y reutilizables, así como en la gestión eficiente del estado de la aplicación para garantizar un rendimiento óptimo. Además, he tenido la oportunidad de colaborar en proyectos que han integrado React con TypeScript, lo que me ha permitido aprovechar las ventajas de un sistema de tipos estáticos para mejorar la calidad y la robustez del código.",
  },
  {
    title: "Framework",
    company: "React Native",
    description:
      "Mi experiencia con React Native se enfoca en el desarrollo de aplicaciones móviles. He contribuido activamente en un proyecto donde utilicé este framework. Mis habilidades incluyen la creación de componentes reutilizables, gestión del estado de la aplicación y optimización del rendimiento. Además, tengo experiencia en integración de bibliotecas externas y personalización de estilos para cumplir con los requisitos del proyecto. Estoy preparado para abordar desafíos técnicos y proponer soluciones innovadoras.",
  },
];
---

<ol class="relative mt-16 ml-12">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperinceItem {...experiencie} />
      </li>
    ))
  }
</ol>
